
/src/SfdcManifestToCsv/.vs/SfdcManifestToCsv/v16/.suo
/src/SfdcManifestToCsv/.vs/SfdcManifestToCsv/config
/src/SfdcManifestToCsv/ClientApp/bin/Debug/netstandard2.1
/src/SfdcManifestToCsv/ClientApp/obj
