@page "/qna"
<h3>Covid FAQ</h3>
<h5>Q:What are the number of cases for today ?</h5>
<h5>A:As of today, 12th Jun 2020. Number of worldwide cases are 7,599,649.Deaths are 423,888. Recovered are 3,843,795 </h5>
